<%= form_with model: @recipe_process do |form| %>
  <% if @recipe.user_id == current_user.id %>
    <div class="field">
      <p class="item9">作り方を登録する</p>
      <%= form.text_field :step %>
    </div>
    <%= form.hidden_field :recipe_id, value:@recipe.id %>
    <div class="actions">
      <%= form.submit ("追加"), id:"add_step" %>
    </div>
  <% end %>
<% end %>
