<table>
  <thead>
    <tr>
      <th>作り方</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_processes.each do |recipe_process| %>
      <tr>
        <td><%= recipe_process.step %></td>
        <td><%= link_to 'Show', recipe_process %></td>
        <td><%= link_to 'Edit', edit_recipe_process_path(recipe_process) %></td>
        <td><%= link_to 'Destroy', recipe_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
