<tr>
  <td><%= recipe_foods.contents %></td>
  <td><%= recipe_foods.quantity %></td>
  <td>
    <% if @recipe.user_id == current_user.id %>
      <%= link_to '削除する', recipe_foods, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>
