<table class="design05">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>作り方</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_processes.each_with_index do |recipe_process,i| %>
      <tr>
        <td><%= i + 1 %>．</td>
        <td class="step_text"><%= recipe_process.step %></td>
        <td>
          <% if @recipe.user_id == current_user.id %>
            <%= link_to '削除する', recipe_process, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
