.title_background{
  background-color: #ffebe9;
  height: 150px;
  border-top: solid 10px #ff7d6e;
  position: relative;
}
.title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: brown;
  text-shadow:
  0 0.05em 0.08em rgba(0,0,0,0.7);
}
.icon_flex li{
  list-style: none;
  display: block;
  font-size: 20px;
}
.foods{
  display: block;
  text-decoration: none;
  background-color: rgb(214, 122, 122);
  color: white !important;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  right: 40%;
  top: 20%;
}
.user_name{
  display: block;
  text-decoration: none;
  color: black !important;
  position: absolute;
  right: 5%;
  top: 10%;
}
.logout{
  display: block;
  text-decoration: none;
  background-color: brown;
  color: white !important;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  width: 100px;
  position: absolute;
  top: 40px;
  right: 5%;
  text-align: center;
}
.slide {
  text-align: center;
  opacity: 0;
  animation: fadein 6s ease forwards;
  text-shadow: 1px 2px 3px #808080;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

.s1 {animation-delay: 0s;}
.s2 {animation-delay: 3s;}
.s3 {animation-delay: 5s;}

.box-back{
  width: 100%;
  height: auto;
}
.box{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #ff7d6e;
  background: #ffebe9;
  border-top: solid 10px #ff7d6e;
  width: 500px;
  height: 180px;
  margin: 30px auto;
}
.text {
  font-size: 20px;
  line-height: 30px
}
.login_user{
  position: absolute;
  top: 45%;
}
.decorated-btn2 {
  background-color: rgb(219, 205, 187);
  font-size: 15px;
  border-radius: 5px;
  border-bottom: solid 3px rgb(180, 134, 107);
  box-shadow: 3px 3px 3px gray;
  transition: 0.3s;
}

.click-down2:active {
  transform: translateY(2px);
  border-bottom: none;
}

.decorated-btn2:hover {
  background-color: brown;
}
.text_field{
  height: 30px;
}
.new_user{
  position: absolute;
  top: 10%;
}
.sign_up_field, .log_in_field{
  position: relative;
}
