.new_recipe{
  display: inline-block;
  text-decoration: none;
  background-color: rgb(216, 176, 103);
  color: white !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.back{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  background: linear-gradient(transparent 50%, rgb(219, 187, 187) 50%);
  margin-bottom: 15px;
}
.recipe_all_index, .recipe_index{
  position: relative;
  text-align: left;
  width: 60px;
  background-color: #c47979;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  z-index: 1;
}

.recipe_all_index:after, .recipe_index:after{
  display: inline;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #c47979;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.recipe_all_detail, .recipe_detail{
  display: block;
  width: 500px;
  position: relative;
  top: 3px;
  left: -5px;
  text-align: left;
  height: 20px;
  text-align: center;
  background-color: #eee;
  padding: 15px 0;
  text-decoration: none;
  font-size: 20px;
  z-index: 0;
}
// レシピ詳細・編集画面
.recipe_title{
  display: block;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 20px;
  padding: 1em 2em;
  width: 300px;
  color: white!important;
  font-size: 18px;
  font-weight: 700;
  background-color:  rgb(180, 134, 107);
  transition: 0.3s;
}

.recipe_title::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #bbbbbb;
  transition: 0.2s ease 0s;
}

.recipe_title::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -7px;
  width: 2px;
  height: 100%;
  background-color: #bbbbbb;
  transition: 0.2s ease 0.2s;
}

.recipe_title:hover::before {
  width: 0%;
}

.recipe_title:hover::after {
  height: 0%;
}

.recipe_title:hover {
  text-decoration: none;
  background-color: rgb(194, 156, 162);
}
.recipe_user_name{
  color: brown;
  position: relative;
  left: 420px;
  top: -30px;
}
// recipe_foods
.design04 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .design04 tr:nth-child(2n+1) {
  background: #dfdacc;
 }
 .design04 th {
  padding: 10px;
  background: #cfb55d;
  color: #ffffff;
 }
 .design04 th:last-child {
  border-right: none;
 }
 .design04 td {
  padding: 10px;
  border-right: solid 1px #a6a776;
 }
 .design04 td:last-child {
  border-right: none;
 }
// 作り方
.design05 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 30px;
 }
 .design05 tr:nth-child(2n+1) {
  background: #e4dedf;
 }
 .design05 th {
  padding: 10px;
  background: #d48d8d;
  color: #ffffff;
 }
 .design05 th:last-child {
  border-right: none;
 }
 .design05 td {
  padding: 10px;
  border-right: solid 1px #ebbbce;
 }
 .design05 td:last-child {
  border-right: none;
 }
.item8{
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(transparent 50%, #dfdacc 50%);
}
.item9{
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(transparent 50%, #e4dedf 50%);
}
.step_text{
  text-align: left!important;
}
// レシピ削除ボタン

.delete_recipe {
  display: inline-block;
  border: 1px solid;
  position: relative;
  background: #fff;
  color: rgb(221, 93, 54)!important;
  border:2px solid rgb(221, 93, 54)!important;
  padding:1.5rem 5.5rem 1.5rem 1.8rem;
  transition: all .3s;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 45px;
  font-size: 15px;

  &:after{
    content:"";
    position:absolute;
    display: block;
    transition: all .3s;
    width: 7px;
    height: 18px;
    top:50%;
    right: 2.5rem;
    box-shadow:2px -2px 0 #fff;
    border-top: solid 2px #614f38;
    border-right: solid 2px #614f38;
    transform: translateY(-50%) rotate(45deg) skewX(-45deg);;
  }

  &:hover {
    &:after {
      right:5px;
      height: 40px;
    }
  }
}
